<!DOCTYPE html>
<html>
	<head>
		<title>
			<%= @title %>
		</title>

		<meta charset="UTF-8">

		<link rel="stylesheet" type="text/css" href="/css/style.css">

		<script type="text/javascript" src="/javascript/jquery-2.1.3.js"></script>

		<script type="text/javascript" src="/javascript/jcolor.js"></script>
		
		<script type="text/javascript" src="/javascript/script.js"></script>
	</head>

	<body>
		<div class="runner">
			<img src="/images/barbell_logo.png" class="logo">
			
			<h1 id='tag_line'> 
				Our gym is your best partner!
			</h1>

			<div class="nav_bar">
				<nav>
					<ul>
						<!--loop for nav_bar -->
						<% @nav.each do |key, value| %>
						<li>
							<!-- nav_bar linking with "value" -->
							<a href=<%= value %> class="liA">
								<!-- nav_bar naming with "key" -->
								<%= key %>
							</a>
						</li>
						<% end %>
					</ul>
				</nav>
			</div>
		</div>

		<%= yield %>

		<div>
			<footer>
				<div id="footer">
			    	<div id="footer-wrapper">
			  	        <ul>
			        		<li>
			        			<a href="#">
			        				Careers
			        			</a>
			        		</li>
			        	
							<li>
								<a href="#">
									News & Press
								</a>
							</li>

							<li>
								<a href="#">
									Privacy Policy
								</a>
							</li>
	        			</ul>
					</div> 

					<!-- wrapper ends-->
					
					<div class="icons">
						<h3>
							Navigation
						</h3>

						<div class="foot_bar">
								<ul>
									<!--loop for footer nav -->
									<% @foot_nav.each do |key, value| %>
									<li>
										<!-- footer nav linking with "value" -->
										<a href=<%= value %>>
											<!-- footer nav naming with "key" -->
											<%= key %>
										</a>
									</li>
									<% end %>
								</ul>
						</div>

			           	<a href="https://twitter.com/" target="_blank">
			           		<img src="https://www.nasa.gov/sites/default/files/images/twitter-icon.png" width="48" height="48" alt="Twitter" />
			           	</a>

							
						<a href="https://linkedin.com/" target="_blank">
							<img src="http://icons.iconarchive.com/icons/sicons/flat-shadow-social/128/linkedin-icon.png" width="48" height="48" alt="LinkedIn" />
						</a>
						
						<a href="http://www.facebook.com" target="_blank">
							<img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-128.png" width="48" height="48" alt="Facebook" />
						</a>
					</div> 
					<!-- end icons div -->	
		   	</div>
			</footer>
		</div>
		<!--end of div footer -->
	</body>
<html>